{
  "openapi": "3.1.0",
  "info": {
    "title": "Nansen Wallet Intel API",
    "version": "1.0.0",
    "summary": "Provider-owned wallet and token intelligence API contract.",
    "description": "Wallet and token intelligence API."
  },
  "servers": [
    {
      "url": "https://api.nansen.ai",
      "description": "Nansen HTTP base URL"
    }
  ],
  "tags": [
    {
      "name": "wallets",
      "description": "Wallet intelligence operations"
    },
    {
      "name": "tokens",
      "description": "Token intelligence operations"
    }
  ],
  "paths": {
    "/api/v1/profiler/address/current-balance": {
      "post": {
        "operationId": "getAddressCurrentBalance",
        "summary": "Get address current balance",
        "description": "Retrieve current token holdings for an address on a chain.",
        "tags": [
          "wallets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressRequest"
              },
              "examples": {
                "solana_wallet": {
                  "summary": "Get current balances for a Solana wallet",
                  "value": {
                    "address": "7dHbWXad2L7nLSd7WQqW9hQ9j6gYu7N1mQhVv4j6pFjR",
                    "chain": "solana"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/api/v1/profiler/address/related-wallets": {
      "post": {
        "operationId": "getRelatedWallets",
        "summary": "Get related wallets",
        "description": "Find wallets related to an input address through onchain interactions.",
        "tags": [
          "wallets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelatedWalletsRequest"
              },
              "examples": {
                "ethereum_wallet": {
                  "summary": "Find wallets related to an Ethereum address",
                  "value": {
                    "address": 232791937491982538162671284575423081293896883552,
                    "chain": "ethereum"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Related wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/api/v1/tgm/token-information": {
      "post": {
        "operationId": "getTokenInformation",
        "summary": "Get token information",
        "description": "Retrieve detailed token information and trading metrics for a token address.",
        "tags": [
          "tokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenInformationRequest"
              },
              "examples": {
                "wrapped_sol": {
                  "summary": "Get token information for wrapped SOL",
                  "value": {
                    "chain": "solana",
                    "token_address": "So11111111111111111111111111111111111111112"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddressRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "address",
          "chain"
        ],
        "properties": {
          "address": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "hide_spam_token": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "RelatedWalletsRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "address",
          "chain"
        ],
        "properties": {
          "address": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "pagination": {
            "type": "object",
            "additionalProperties": true,
            "default": {
              "page": 1,
              "per_page": 10
            }
          }
        }
      },
      "TokenInformationRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "chain",
          "token_address"
        ],
        "properties": {
          "chain": {
            "type": "string"
          },
          "token_address": {
            "type": "string"
          },
          "timeframe": {
            "type": "string",
            "default": "1d"
          }
        }
      }
    }
  }
}
